<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragments/header :: headerFragment"></th:block>

    <body class="landing is-preload">
        <div id="page-wrapper">
            <th:block th:replace="fragments/header2 :: header2Fragment"></th:block>
            <th:block layout:fragment="content">
                <!--작성할 내용-->
            </th:block>
        </div>
    </body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>