<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <img th:src="@{${book.image}}">
    <input type="image" th:src="@{book.image}" alt="책 이미지" th:alt="|${book.title}이미지|" />
</div>
<div>
    <label for="title">책제목</label>
    <input type="text" id="title" name="title" class="form-control"
           value="상품A" th:value="${book.title}" readonly>
</div>
<div>
    <label for="description">책정보</label>
    <br/>
    <textarea cols="40" rows="30" id="description" name="description" class="form-control" placeholder="Read Only"
              th:placeholder="${book.description}" readonly></textarea>
</div>

</body>
</html>