<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment">
</th:block>

<body class="is-preload">
<script>
function openLoginModal() {
  if (confirm("존재하지 않는 아이디입니다.")) {
   window.location.href = "/loginForm?redirectURL=" + encodeURIComponent(window.location.pathname);
  }
}
</script>

<link rel="stylesheet" href="/assets/css/errors.css"/>

<div id="page-wrapper">
  <section id="main" class="container medium">

    <div class="box">
      <form method="get" action="/findPwdByEmail">
        <h3 class = "col-12">비밀번호 찾기</h3>
        <input type="text" name="userId" placeholder="아이디를 입력하세요"> <br>
        <div th:if="${message1 != null}" class="alert alert-danger">
          <p th:text="${message1}" style="color: #dc3545 !important;"></p>
        </div>
        <input type="submit" value="비밀번호 찾기">
      </form>
    </div>

    <div class="box">
      <form method="get" action="/findIdByEmail">
        <h3 class = "col-12">아이디 찾기</h3>
        <input type="text" name="userEmail" placeholder="이메일을 입력하세요"> <br>
        <div th:if="${message2 != null}" class="alert alert-danger">
          <p th:text="${message2}" style="color: #dc3545 !important;"></p>
        </div>
        <input type="submit" value="아이디 찾기">
      </form>
    </div>
  </section>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>

