<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment">
</th:block>

<body class="is-preload">
<script>
function openLoginModal() {
  if (confirm("존재하지 않는 아이디입니다.")) {
   window.location.href = "/loginForm?redirectURL=" + encodeURIComponent(window.location.pathname);
  }
}
</script>

<link rel="stylesheet" href="/assets/css/errors.css"/>

<div id="page-wrapper">
  <section id="main" class="container medium">

    <div class="box">
      <form method="post" action="/findIdByEmail">
        <input type="text" name="userId" id="userId"> <br>
        <div th:if="${message != null}" class="alert alert-danger">
          <p th:text="${message}" style="color: #dc3545 !important;"></p>
        </div>

        <input type="submit" value="이메일로 비밀번호 찾기">
      </form>
    </div>
  </section>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>

