<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment"></th:block>

<body class="is-preload">
<div id="page-wrapper">
	<div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>
	<!-- Main -->
	<section id="main" class="container medium">
		<header>
			<h2>회원가입</h2>
			<p>Tell us what you think about our little operation.</p>
		</header>
		<div class="box">
			<form method="post" th:action th:object="${member}" action="#">
				<div class="row gtr-50 gtr-uniform">

					<div class="col-9 col-12-mobilep">
						<input type="text" name="userId" id="userId" value="" placeholder="UserId" />
					</div>
					<div class="col-3 col-12-mobilep">
						<input type="button" value="중복확인" />
					</div>
					<div class="col-12">
						<input type="password" name="userPwd" th:id="userPwd" value="" placeholder="Password" />
					</div>
					<div class="col-12" >
						<input type="password" name="reUserPwd" th:id="reUserPwd" value="" placeholder="RePassword" />
					</div>
					<div class="col-12" >
						<input type="text" name="userPhone" th:id="userPhone" value="" placeholder="Phone" />
					</div>
					<div class="col-12" >
						<input type="text" name="userBirth" th:id="userBirth" value="" placeholder="Birth yymmdd" />
					</div>
					<div class="col-4 col-8-narrower">

						<input type="radio" id="man" th:name="userGender" value="M">
						<label for="man">남</label>
					</div>
					<div class="col-4 col-8-narrower">
						<input type="radio" id="woman" th:name="userGender" value="F">
						<label for="woman">여</label>
					</div>

					<div class="col-12">
						<input type="text" name="userName" th:id="userName" value="" placeholder="Name" />
					</div>
					<div class="col-12">
						<input type="email" name="userEmail" th:id="userEmail" value="" placeholder="Email" />
					</div>
					<div class="col-12">
						<ul class="actions special">
							<li><input type="submit" value="회원가입" /></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</section>

	</th:block>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>