<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment">
</th:block>

<body class="is-preload">
<link rel="stylesheet" href="/assets/css/errors.css"/>
<script>
   function openWindow() {
      var newWindow = window.open('/findId/', '_blank', 'width=500, height=500', true);
    }
</script>

<div id="page-wrapper">
	<div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>
	<section id="main" class="container medium">

		<div class="box">
			<form method="post" th:object="${loginForm}" id="loginForm" >
				<div th:if="${#fields.hasGlobalErrors()}">
					<p class="field-error" th:each="err : ${#fields.globalErrors()}"
					   th:text="${err}">전체 오류 메시지</p>
				</div>
				<div class="row gtr-50 gtr-uniform">
					<h2 class = "col-12">로그인</h2>
					<div class="col-12">
						<label for="userId">로그인 ID</label>
						<input type="text" name="userId" id="userId" th:field="*{userId}" class="form-control"
							   th:errorclass="field-error">
						<div class="field-error" th:errors="*{userId}" />
					</div>

					<div class="col-12">
						<label for="userPwd">비밀번호</label>
						<input type="password" name="userPwd" id="userPwd" th:field="*{userPwd}"
							   class="form-control"
							   th:errorclass="field-error">
						<div class="field-error" th:errors="*{userPwd}" />
					</div>

					<div class="col-12">
						<ul class="actions special">
							<li><div class="col-6" id="naver_id_login"></div></li>
							<li><input class="col-6" type="submit" value="로그인"/></li>
						</ul>
					</div>
				</div>
			</form>
			<div style="display: flex; justify-content: center; float:right;">
				<a style="float:right;" onclick="openWindow();" class="special icon solid fa-search"><span style="color:gray;"> 아이디/비밀번호 찾기 / </span></a> &nbsp;&nbsp;&nbsp;
				<a style="float:right;" onclick="window.location.href = '/joinForm'" class="icon solid fa-check"> 회원가입</a>
				<!--				<a onclick="window.location.href = '/joinForm'" class="button alt icon solid fa-check">회원가입</a>-->
			</div>

		</div>
	</section>
</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>


<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- 네이버 로그인을 위한 코드 -->
<script type="text/javascript">
        var naver_id_login = new naver_id_login("rpwlE8p1Xp5mnCjiiv_w", "http://localhost:8000/callback/naver");
        var state = naver_id_login.getUniqState();
        naver_id_login.setButton("green", 2,45);
        naver_id_login.setDomain("http://localhost:8000");
        naver_id_login.setState(state);
		naver_id_login.setPopup();
        naver_id_login.init_naver_id_login();
</script>

</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>

