<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment"></th:block>

<body class="landing is-preload">
<div id="page-wrapper">
    <div th:replace="~{fragments/headerMain :: headerMainFragment('mainPage')}"></div>
    <!-- Banner -->
    <section id="banner">
        <h2 th:text="#{page.title}">독서노트</h2>
        <p>기록의 기억을 믿어보세요</p>
        <ul class="actions special">
            <li><a href="/loginForm" class="button primary">로그인</a></li>
            <li><a href="#" class="button">회원가입</a></li>
        </ul>
    </section>

    <!-- Main -->
    <section id="main" class="container">

        <section class="box special scroll_box">
            <header class="major">

                <div class="inner_content">내용1</div>
                <div class="inner_content">내용1</div>
                <div class="inner_content">내용1</div>
                <div class="inner_content">내용1</div>
                <div class="inner_content">내용1</div>
                <div class="inner_content">내용1</div>
                    <h2 class="inner_content">Introducing the ultimate mobile app aaaaaaaaaaaaaaaaaaaaaaaaaa
                        <br />
                        for doing stuff with your phone</h2>
                    <p class="inner_content">Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
                        adipiscing nunc adipiscing. Condimentum turpis massa.</p>

            </header>
            <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
        </section>

        <h4 align="left">추천도서</h4>
        <section class="box special features" >
            <div class="features-row">
                <section class="box" th:each="book : ${bookList}">
                    <section class="" >
                        <div class="features-row " align="center">
                            <a th:href="@{|/book/${book.isbn}|}">
                                <image class="image" style="width:100px; height:130px; " th:src="@{${book.imageUrl}}"></image>
                            </a>
                        </div>
                    </section>
                    <section>
                        <div>
                            <h4 class="" style="margin: 1em 0 0em -2em;" th:text="${book.title}" ></h4>
                        </div>
                    </section>
                </section>
            </div>

        </section>


        <div class="row">
            <div class="col-6 col-12-narrower">

                <section class="box special">
                    <span class="image featured"><img src="images/pic02.jpg" alt=""/></span>
                    <h3>Sed lorem adipiscing</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
                        rutrum
                        phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    <ul class="actions special">
                        <li><a href="/bookReportForm" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>
            <div class="col-6 col-12-narrower">

                <section class="box special">
                    <span class="image featured"><img src="images/pic03.jpg" alt=""/></span>
                    <h3>Accumsan integer</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
                        rutrum
                        phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    <ul class="actions special">
                        <li><a href="/bookReportForm" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>
        </div>

    </section>

    <!-- CTA -->
    <section id="cta">

        <h2>Sign up for beta access</h2>
        <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

        <form>
            <div class="row gtr-50 gtr-uniform">
                <div class="col-8 col-12-mobilep">
                    <input type="email" name="email" id="email" placeholder="Email Address"/>
                </div>
                <div class="col-4 col-12-mobilep">
                    <input type="submit" value="Sign Up" class="fit"/>
                </div>
            </div>
        </form>

    </section>

    </th:block>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>

