<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment">
</th:block>

<body class="is-preload">

<div id="page-wrapper">
    <section id="main2" class="container">
        <section class="box">
            <a href="https://www.flaticon.com/free-icons/character" title="character icons">Character icons created by Freepik - Flaticon</a>
            <div class="col-6 col-12-mobilep">
                <h4>보유중인 캐릭터 아이콘</h4>
                <ul class="icons">
                    <li>
                        <a th:href="@{|/editCharIcon/${member.userId}?imagePath=/images/icons/F.png|}">
                            <img src="/images/icons/F.png" alt="image"  width="100" height="100"/>
                        </a>
                    </li>
                    <li>
                        <div th:if="${reportCount >= 2}">
                            <a th:href="@{|/editCharIcon/${member.userId}?imagePath=/images/icons/D.png|}">
                                <img src="/images/icons/D.png" alt="image"  width="100" height="100"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div th:if="${reportCount >= 3}">
                            <a th:href="@{|/editCharIcon/${member.userId}?imagePath=/images/icons/C.png|}">
                                <img src="/images/icons/C.png" alt="image"  width="100" height="100"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div th:if="${reportCount >= 4}">
                            <a th:href="@{|/editCharIcon/${member.userId}?imagePath=/images/icons/B.png|}">
                                <img src="/images/icons/B.png" alt="image"  width="100" height="100"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div th:if="${reportCount >= 5}">
                            <a th:href="@{|/editCharIcon/${member.userId}?imagePath=/images/icons/A.png|}">
                                <img src="/images/icons/A.png" alt="image"  width="100" height="100"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div th:if="${reportCount >= 6}">
                            <a th:href="@{|/editCharIcon/${member.userId}?imagePath=/images/icons/S.png|}">
                                <img src="/images/icons/S.png" alt="image"  width="100" height="100"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</div>

<script>
    $(document).ready(function() {
        $('img').click(function() {
            window.opener.location.reload();
        });
    });
</script>
</body>
</html>

