<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>독서노트</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/star.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<body class="is-preload">
<script>
   function openWindow() {
      var newWindow = window.open('/myChar', '_blank', 'width=500, height=300', true);
    }
</script>
<div id="page-wrapper">
<div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>
    <div class="container" th:object="${loginMember}">
        <div class="main-body">
            <!-- Breadcrumb -->
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img th:if="*{userGender}=='M'" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <img th:if="*{userGender}=='F'" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4 th:text="|ID : *{userId}|"></h4>
                                    <img th:src="*{userCharIcon}" alt="캐릭터 아이콘" width="40">
                                    <span th:if="${reportCount < 5}">F 등급 입니다</span>
                                    <span th:if="${reportCount > 5 and reportCount <=10}">D 등급 입니다</span>
                                    <span th:if="${reportCount > 10 and reportCount <=20}">C 등급 입니다</span>
                                    <span th:if="${reportCount > 20 and reportCount <=30}">B 등급 입니다</span>
                                    <span th:if="${reportCount > 30 and reportCount <=50}">A 등급 입니다</span>
                                    <span th:if="${reportCount > 50}">S 등급 입니다</span>
                                    <br>
                                    <!--<p class="text-secondary mb-1"></p>-->
                                    <button class="btn btn-primary" onclick="openWindow();">캐릭터아이콘 변경</button>
                                    <!--<button class="btn btn-outline-primary">Message</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                                <span class="text-secondary">https://bootdey.com</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                                <span class="text-secondary">@bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="material-symbols-outlined">badge</span>
                                    <span class="mb-0">Name</span>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="*{userName}"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="material-symbols-outlined">mail</span>
                                    <span class="mb-0">Email</span>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="*{userEmail}"></div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="material-symbols-outlined">phone_iphone</span>
                                    <span class="mb-0">Phone</span>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="*{userPhone}"></div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <span th:if="*{userGender} == 'M'" class="material-symbols-outlined">male</span>
                                    <span th:if="*{userGender} == 'F'" class="material-symbols-outlined">female</span>
                                    <span class="mb-0">Gender</span>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="*{userGender}"></div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-12">
<!--                                    <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>-->
                                    <a href="/pwdCheck" class="btn btn-info">회원 정보 수정</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <p></p>
                        <div class="col-sm-12 mb-3">
                            <!-- Table -->
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">로그인</i>기록 관리</h6>
                                <div class="table-wrapper">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>운영체제</th>
                                            <th>로그인 IP</th>
                                            <th>접속 일시</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>모바일 (Android)</td>
                                            <td>-</td>
                                            <td>2023/03/29 (수) 17:53</td>
                                        </tr>
                                        <tr>
                                            <td>PC (Windows 11)</td>
                                            <td>211.34.40.156
                                                (대한민국)</td>
                                            <td>2023/03/29 (수) 17:53</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/star.js?ver"></script>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>