<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment"></th:block>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<body class="is-preload">
<script>
   function openWindow() {
      var newWindow = window.open('/myChar', '_blank', 'width=500, height=300', true);
    }


</script>

<div id="page-wrapper">
    <div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>
    <section id="main" class="container medium">

        <div class="box" th:object="${loginMember}">
            <div class="row">
                <div class="col-6 col-12-mobilep" style="text-align: center;">
                    <img th:src="*{userCharIcon}" alt="Admin"
                         class="rounded-circle" width="180">
                    <div class="mt-3">
                        <h4 th:text="|ID : *{userId}|"></h4>
                        <span th:if="${reportCount < 5}">F 등급 입니다</span>
                        <span th:if="${reportCount >= 5 and reportCount <10}">D 등급 입니다</span>
                        <span th:if="${reportCount >= 10 and reportCount <20}">C 등급 입니다</span>
                        <span th:if="${reportCount >= 20 and reportCount <30}">B 등급 입니다</span>
                        <span th:if="${reportCount >= 30 and reportCount <50}">A 등급 입니다</span>
                        <span th:if="${reportCount >= 50}">S 등급 입니다</span>
                        <br>
                        <!--<p class="text-secondary mb-1"></p>-->
                        <button class="btn btn-primary" onclick="openWindow();">캐릭터아이콘 변경</button>
                        <!--<button class="btn btn-outline-primary">Message</button>-->
                    </div>
                </div>

                <div class="col-6 col-12-mobilep">

                    <span class="material-symbols-outlined">badge</span>
                    <span class="mb-0">Name</span>&nbsp;&nbsp;&nbsp;
                    <span th:text="*{userName}"></span><br><br>

                    <span class="material-symbols-outlined">lock</span>
                    <span class="mb-0">Password</span>&nbsp;&nbsp;&nbsp;
                    <a href="/editPwd" class="btn btn-info">수정</a>
                    <br><br>

                    <span class="material-symbols-outlined">mail</span>
                    <span class="mb-0">Email</span>&nbsp;&nbsp;&nbsp;
                    <span th:text="*{userEmail}"></span>

                    <a href="/editEmail" class="btn btn-info">수정</a>
                    <br><br>

                    <span class="material-symbols-outlined">phone_iphone</span>
                    <span class="mb-0">Phone</span>&nbsp;&nbsp;&nbsp;
                    <span th:text="*{UserPhone}"></span><br><br>

                    <span th:if="*{userGender} == 'M'"
                          class="material-symbols-outlined">male</span>
                    <span th:if="*{userGender} == 'F'"
                          class="material-symbols-outlined">female</span>
                    <span class="mb-0">Gender</span> &nbsp;&nbsp;&nbsp;
                    <span th:text="*{userGender}"></span><br><br>

                    <a href="/pwdCheck" class="btn btn-info">회원 정보 수정</a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/star.js?ver"></script>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>