<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment"></th:block>
<style>
body p {
display:block;
}
.word {
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
<!--    word-wrap: break-word;-->
<!--    text-align: left;-->
<!--    display: -webkit-box;-->
<!--    -webkit-line-clamp: 1;-->
<!--    -webkit-box-orient: vertical;-->
<!--    line-height: 1.2;-->
}


</style>

<body class="is-preload">
<div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>

<!-- Main -->
<section id="main" class="container">
  <header>
    <h2>도서검색</h2>
  </header>

  <!-- Table -->
  <section class="box" >
    <form th:action method="get" th:Object="${book}">
      <div class="row gtr-uniform gtr-50">
        <div class="col-9 col-12-mobilep">
          <input type="text" id="title" name="title" placeholder="도서 검색" autocomplete="on"/>
        </div>

        <div class="col-3 col-12-mobilep">
          <input type="submit" class="button special icon solid fa-search fit" value="search" />
        </div>
      </div>
    </form>
      <hr/>
  </section>
    <section class="box">
      <div>
        <h4>검색 결과</h4>
        <hr/>

        <div class="row">
          <!--                    <div class="col-6 col-12-narrower" th:each="book : ${bookList}">-->
          <!--                    <div class="col-6 gtr-25" th:each="book : ${bookList}">-->
          <div class="col-6 col-12-narrower" th:each="book : ${bookList}">
            <a th:href="@{|/book/${book.isbn}|}">
              <!--                            <section class="box special" style="background-color:#FFFAF0; padding-top: 0.5em; padding-bottom: 3em;padding-right: 1em;padding-left: 1em;" >-->
              <section class="box special" style="padding-top: 0.5em; padding-bottom: 3em;padding-right: 0.5em;padding-left: 1em;" >
                <span class="image left"><img th:src="@{${book.imageUrl}}" alt="" style="width:85px; height:125px;"/></span>

                <p th:if="${book.title.indexOf('-') == -1}">
                  <br/>
                  <b th:text="|[${book.title}]|"></b><br/>
                  <span th:text="${#strings.substringBefore(book.author,'(')}"
                        style="color:gray;"></span><br/>
                  <!--                                        <br/>-->
                  <!--                                별점이 없을떄-->
                  <span th:if="${book.avgStarRating == null}" style="color: lightGray;">
                                            <span >★</span>
                                            <span>0.0</span>
                                          </span>

                  <!--별점이 있을떄-->
                  <span th:if="${book.avgStarRating != null}" >
                                            <span style="color: #FFD700;">★</span>
                                            <span th:text="${#numbers.formatDecimal(book.avgStarRating,1,1)}"></span>
                                          </span>
                </p>

                <p th:if="${book.title.indexOf('-') != -1}">
                  <br>
                  <b th:text="|[${#strings.substringBefore(book.title,'-')}]|"></b><br/>
                  <span th:text="${#strings.substringBefore(book.author,'(')}"
                        style="color:gray;"></span><br/>
                  <!--                                    <br/>-->
                  <!--                                    별점이 없을떄-->
                  <span th:if="${book.avgStarRating == null}" style="color: lightGray;">
                                        <span>★</span>
                                        <span>0.0</span>
                                      </span>

                  <!--별점이 있을떄-->
                  <span th:if="${book.avgStarRating != null}" >
                    <span style="color: #FFD700;">★</span>
                    <span th:text="${#numbers.formatDecimal(book.avgStarRating,1,1)}"></span>
                  </span>
                </p>
              </section>
            </a>
          </div>
        </div>
      </div>
    </section>

</section>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>



</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>
