<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main_layout">
<th:block layout:fragment="content">

        <section id="banner">
            <h2>독서노트</h2>
            <p>기록의 기억을 믿어보세요</p>
            <ul class="actions special">
                <li><a href="#" class="button primary">로그인</a></li>
                <li><a href="#" class="button">회원가입</a></li>
            </ul>
        </section>
</th:block>
</html>