<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.bookservice.repository.comment.CommentMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">

        insert into comment(content, isbn, writer_id, date, charicon)
        values (#{content}, #{bookisbn}, #{writerID}, date_format(now(), '%Y%m%d%H%i%s'), #{charIcon})
    </insert>

    <select id="findComments" resultType="project.bookservice.domain.comment.Comment">
        select *
        from comment
        where isbn = #{bookisbn}
    </select>

    <delete id="delete">
        DELETE FROM comment WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE comment SET content = #{content} WHERE id = #{id}
    </update>

    <update id="updateCharIcon">
        UPDATE comment SET charicon = #{charIcon} WHERE writer_id = #{writerID}
    </update>

</mapper>

