<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.bookservice.repository.member.MemberMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member(user_id, user_pwd, user_name, user_gender, user_birth, user_email, email_code, user_phone, user_charicon)
        values (#{userId}, #{userPwd}, #{userName}, #{userGender}, #{userBirth}, #{userEmail}, #{emailCode}, #{userPhone}, #{userCharIcon})
    </insert>


    <update id="update">
        update member
        set user_pwd = #{userPwd},
        user_name = #{userName},
        user_gender = #{userGender},
        user_birth = #{userBirth},
        user_email = #{userEmail},
        user_phone = #{userPhone}
        where user_id = #{userId}
    </update>

    <update id="editCharIcon">
        update member
        set user_charicon = #{userCharIcon}
        where user_id = #{userId}
    </update>


    <select id="findByUserId" resultType="int">
        select count(user_id)
        from member
        where user_id = #{userId}
    </select>

    <select id="findByEmail" resultType="int">
        select count(user_email)
        from member
        where user_email = #{userEmail}
    </select>


    <select id="findAll" resultType="project.bookservice.domain.member.Member">
        select *
        from member
    </select>

    <select id="findByLoginId" resultType="project.bookservice.domain.member.Member">
        select *
        from member
        WHERE user_id = #{userId}
    </select>

    <select id="findId" resultType="project.bookservice.domain.member.Member">
        select *
        from member
        where user_id = #{userId}
    </select>

    <select id="findIdByEmail" resultType="project.bookservice.domain.member.Member">
        select *
        from member
        where user_email = #{userEmail}
    </select>

    <update id="editPwd">
        update member
        set user_pwd = #{userPwd}
        where user_id = #{userId}
    </update>



</mapper>