<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.bookservice.repository.historyOfReportInfo.HistoryOfReportInfoMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into historyOfReportInfo(report_id, user_id, favorite, collection)
        values (#{reportId}, #{userId}, 0, 0)
    </insert>

    <select id="findByUserId" resultType="project.bookservice.domain.historyOfReportInfo.HistoryOfReportInfo">
        select *
        from historyOfReportInfo
        where user_id = #{userId}
    </select>

    <select id="hasHistory" resultType="boolean">
        select if(count(*) = 1, 1, 0)
        from historyOfReportInfo
        where user_id=#{userId} and report_id=#{reportInfoParam.id}
    </select>



    <update id="updateFavorite">
        update historyOfReportInfo
        set favorite=#{historyParam.favorite}^1
        where report_id=#{reportId} and user_id=#{historyParam.userId}
    </update>

    <update id="updateCollection">
        update historyOfReportInfo
        set collection=#{historyParam.collection}^1
        where report_id=#{reportId} and user_id=#{historyParam.userId}
    </update>



</mapper>