<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.bookservice.repository.report.ReportInfoMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">

        insert into reportInfo(writer_id, isbn, title, date, upload_file_name, store_file_name, content, hash_tag, favorite_num, collection_num, disclosure)
        values (#{writerId}, #{isbn}, #{title}, (date_format(now(), '%Y%m%d%H%i%s')), #{uploadFileName}, #{storeFileName}, #{content}, #{hashTag}, 0, 0,  #{disclosure})
    </insert>

    <delete id="delete">
        delete from reportInfo
        where id = #{id}
    </delete>

    <update id="edit">
        update reportInfo
        set content=#{reportInfoParam.content},
            hash_tag=#{reportInfoParam.hashTag},
            disclosure=#{reportInfoParam.disclosure}
        where id=#{reportInfoParam.id}
    </update>

    <update id="increaseOfFavoriteNum">
        update reportInfo
        set favorite_num = #{reportInfoParam.favoriteNum}+1
        where id=#{reportInfoParam.id}
    </update>

    <update id="decreaseOfFavoriteNum">
        update reportInfo
        set favorite_num = #{reportInfoParam.favoriteNum}-1
        where favorite_num > 0 and id=#{reportInfoParam.id}
    </update>

    <update id="increaseOfCollectionNum">
        update reportInfo
        set collection_num = #{reportInfoParam.collectionNum}+1
        where id=#{reportInfoParam.id}
    </update>

    <update id="decreaseOfCollectionNum">
        update reportInfo
        set collection_num = #{reportInfoParam.collectionNum}-1
        where collection_num > 0 and id=#{reportInfoParam.id}
    </update>


    <select id="findById" resultType="project.bookservice.domain.report.ReportInfo">
        select *
        from reportInfo
        where id = #{id}
    </select>

    <select id="findByUserId" resultType="project.bookservice.domain.report.ReportInfo">
        select *
        from reportInfo
        where writer_id = #{userId}
        order by date desc
    </select>

    <select id="existsReportInfo" resultType="int">
        select count(*)
        from reportInfo
        where writer_id = #{userId}
    </select>

    <select id="findByIsbn" resultType="project.bookservice.domain.report.ReportInfo">
        select *
        from reportInfo
        where isbn = #{isbn} and disclosure = true
        order by date desc
    </select>

    <select id="existsReportInfoByIsbn" resultType="int">
        select count(*)
        from reportInfo
        where isbn = #{isbn}
    </select>

    <select id="countByWriterId" resultType="Integer">
        select count(*)
        from reportInfo
        where writer_id = #{writerId}
    </select>


    <select id="findAll" resultType="project.bookservice.domain.report.ReportInfo">
        select *
        from reportInfo
        where disclosure = true
        order by date desc
    </select>

    <select id="orderByFavoriteNum" resultType="project.bookservice.domain.report.ReportInfo">
        select *
        from reportInfo
        where disclosure = true
        order by favorite_num desc
        limit 4
    </select>


</mapper>