<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment">
</th:block>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<body class="is-preload">

<script th:inline="javascript">
                var isbn = /*[[${book.isbn}]]*/ null;
</script>

<script>
   function openWindow() {
      var newWindow = window.open('/starRating/' + isbn, '_blank', 'width=300, height=150', true);
    }
</script>
<script>
function openLoginModal() {
  if (confirm("로그인 후 이용해 주세요.")) {
   window.location.href = "/loginForm?redirectURL=" + encodeURIComponent(window.location.pathname);
  }
}
</script>


<script>
function showEditForm(span) {
  // 수정 폼 보이기
  var form = span.nextElementSibling;
  form.style.display = "block";

  // 수정 폼에 내용 채우기
  var content = span.previousElementSibling.textContent;
  form.querySelector("textarea").textContent = content;

  // 수정 버튼 감추기
  span.style.display = "none";
}

function openAddForm(isbn){
    window.name = "myBookmarkForm";
    var loc = "/addCollectionFormAtBookInfo/" + isbn
    window.open(loc , "childForm", "width=600, height=400, resizable=no", true);
}

</script>


<div id="page-wrapper">
    <div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>
    <!-- Main -->
    <section id="main2" class="container">
        <section class="box">
            <p><span class="image left"><img th:src="@{${book.imageUrl}}" style="width:300px; height:400px;" alt=""/></span>
            <h4>책 제목 </h4>
            <p th:text="${book.title}"></p>
            <h4>작가</h4>
            <p th:text="${book.author}"></p>
            <h4>출간 일</h4>
            <p th:text="${book.pubDate}"></p>
            <h4>
                <!--별점이 없을떄-->
                <span th:if="${book.avgStarRating == null}" th:style="'font-size: 35px;'">
                  <span style="color: #FFD700;">★</span>
                  <span>-</span>
                </span>

                <!--별점이 있을떄-->
                <span th:if="${book.avgStarRating != null}"
                      th:style="'font-size: 35px;'">
                  <span style="color: #FFD700;">★</span>
                  <span th:text="${#numbers.formatDecimal(book.avgStarRating,1,1)}"></span>
                </span>

                <span th:if="${#session} != null">
                    <span th:if="${starId == false}">
                        <input class="rating-btn" type="button" value="별점 주기" onclick="openWindow();"/>
                    </span>
                    <span th:if="${starId == true}">
                        <input  class="rating-btn" type="button" value="참여 완료"/>
                    </span>
                </span>
                <span th:if="${#session} == null">
                    <input class="rating-btn" type="button" value="별점 주기" onclick="openLoginModal()"/>
                </span>
            </h4>



            <br>
            <a th:href="@{${book.buyUrl}}">구매 링크</a>


            <nav id="nav"  style="float:right;" th:if="${#session} == null">
                <ul class="actions">
                    <li class="icon solid fa-angle-down" >
                        <span class="material-symbols-outlined" style="color:pink;">bookmark</span>
                        <ul >
                            <li>
                                <a style="float:right;"  th:onclick="openLoginModal()" >
                                    로그인 후 이용해주세요
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- 로그인이 되어있고 컬렉션이 없을  때  -->
            <nav id="nav"  style="float:right;"  th:if="${#session} != null and ${existsByMyHistory} == 0" >
                <ul class="actions">
                    <li class="icon solid fa-angle-down" >
                        <span class="material-symbols-outlined" style="color:pink;">bookmark</span>
                        <ul >
                            <li>
                                <a th:href="|javascript:openAddForm('${book.isbn}');|" >
                                    <span class="material-symbols-outlined" style="color:pink;">add</span>
                                    컬렉션 생성하기
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- 로그인이 되어있고 컬렉션이 존재할 때-->
            <nav id="nav"  style="float:right;"  th:if="${#session} != null and ${existsByMyHistory} != 0" >
                <ul class="actions">
                    <li class="icon solid fa-angle-down" >

                        <span class="material-symbols-outlined" style="color:pink;">bookmark</span>

                        <ul>
                            <li th:each="myCollection : ${myCollectionList}">
                                <a th:if="${#strings.length(myCollection.collectionName) < 15}" th:text="${myCollection.collectionName}" th:href="@{|/book/${book.isbn}/checkCollection/${myCollection.collectionName}|}"></a>
                                <a th:unless="${#strings.length(myCollection.collectionName) < 15}" th:text="|${#strings.substring(myCollection.collectionName, 0, 15)}..|" th:href="@{|/book/${book.isbn}/checkCollection/${myCollection.collectionName}|}"></a>
                            </li>
                            <li>
                                <a  th:href="|javascript:openAddForm('${book.isbn}');|" >
                                    <span class="material-symbols-outlined" style="color:pink;">add</span>
                                    컬렉션 생성하기
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>


            <br><br>
            <ul class="actions fit">
                <li><a th:href="@{|/book/${book.isbn}|}" class="button special fit alt">책 정보</a></li>
                <li><a th:href="@{|/book/${book.isbn}/report|}" class="button fit alt">독후감</a></li>
            </ul>

            <h3>책 소개</h3>  <br>
            <div th:text="${book.description}"></div>
            <br>
        </section>

        <section  class="box">
            <style>
                  section ul li span,
                  section ul li p {
                    font-size: 15px;
                  }
                  span.material-symbols-outlined {
                    float: right;
                  }
                  	.no_dot {
                  	    list-style-type: none;
                    }
            </style>
            <span class="material-symbols-outlined" style="float: none;">chat</span>
            <span th:text="댓글" th:style="'font-size: 320x;'"></span>
            <br>

            <section>

                <ul class='no_dot'>
                    <li th:each="comment : ${comments}" >
                        <img src="/images/icons/B.png" alt="image"  width="20" height="20"/>
                        <span th:text="${comment.writerID}" th:style="'font-size: 13px;'"></span> &nbsp;&nbsp;
                        <span th:text="|작성 날짜 : ${comment.date}|" th:style="'font-size: 13px;'"></span> <br>
                        <span th:text="${comment.content}" th:style="'font-size: 15px;'"></span>
                        <span th:if="${#session} != null">

                            <span th:if="${#session.getAttribute('loginMember').userId} == ${comment.writerID}">
                                <a th:href="@{|/deleteComment/${book.isbn}/${comment.id}|}"
                                   onclick="event.preventDefault();
                                            if(confirm('정말 댓글을 삭제하시겠습니까?')) {
                                                window.location.href = this.getAttribute('href');
                                            }">
                                    <span class="material-symbols-outlined">delete</span>
                                </a>
                            </span>

                              <span th:if="${#session.getAttribute('loginMember').userId} == ${comment.writerID}">
                                <span class="material-symbols-outlined" onclick="showEditForm(this)">edit</span>

                                <form th:action="@{|/updateComment/${book.isbn}/${comment.id}|}" method="post" style="display: none;">
                                  <br>
                                    <textarea th:name="content" th:text="${comment.content}"></textarea>
                                    <br>
                                  <input type="submit" value="수정완료"/>
                                </form>
                              </span>

                        </span>
                        <hr>
                    </li>
                </ul>

            </section>



            <!-- Comments Form -->
            <div>
                <div class="card my-4">
                    <div class="card-body">
                        <form id="comment-form" name="comment-form" method="post" autocomplete="off">
                            <div class="col-12">
                                <textarea name="content" id="content" placeholder="댓글을 남겨주세요" rows="6"
                                          class="review_textarea"></textarea>
                                <input type="hidden" name="bookisbn" th:value="${book.isbn}"/>
                                <input th:if="${#session} != null" type="hidden" name="writerID" th:value="${#session.getAttribute('loginMember').userId}"/>
                            </div>
                            <br>
                            <div class="col-12">
                                <ul class="actions small" th:if="${#session} != null">
                                    <li><input type="submit" name="save" id="save" value="등록"/></li>
                                    <li><input type="reset" value="취소" class="alt"/></li>
                                </ul>

                                <ul class="actions small" th:if="${#session} == null">
                                    <li><input type="button"  value="등록" onclick="openLoginModal()"/></li>
                                    <li><input type="reset" value="취소" class="alt"/></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </section>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/star.js?ver"></script>


</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>