<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="fragments/headInfo :: headInfoFragment"></th:block>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


</style>

<script>
function openLoginModal() {
  if (confirm("로그인 후 이용해 주세요.")) {
   window.location.href = "/loginForm?redirectURL=" + encodeURIComponent(window.location.pathname);
  }
}


</script>

<body class="is-preload">
<div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>


<!-- Main -->

<section id="main" class="container">
    <!--            <header>-->
    <!--                <h2>독후기록</h2>-->
    <!--                <p>...</p>-->
    <!--            </header>-->
    <!--    <div class="row">-->
    <!--        <div class="col-12">-->

    <!-- Image -->

    <div class="box"
         th:if="${reportInfo.disclosure} or ${reportInfo.writerId} == ${#session.getAttribute('loginMember').userId}">
        <p>
            <span class="image right"><img style="width:70px; height:100px;" th:src="@{${book.imageUrl}}" alt=""/></span>
        </p>
        <h3 href="#" th:text="${book.title}"></h3>

        <h4>
            <span class="material-symbols-outlined">menu_book</span>
            출판사 : <span th:text="${book.publisher}"></span><br/>
            <span class="material-symbols-outlined">calendar_month</span>
            출판일 : <span th:text="${book.pubDate}"></span><br/>
            <span class="material-symbols-outlined">history_edu</span>
            저자 : <span th:text="${book.author}"></span><br/>
            <span class="material-symbols-outlined">account_circle</span>
            작성자 : <span th:text="${reportInfo.writerId}"></span>

        <span th:if="${reportInfo.disclosure} == false" style="color: red; float:right;">
            <span class="material-symbols-outlined">disabled_visible</span>
            비공개
        </span>
        </h4>
        <hr/>
        <span class="image fit"><img th:src="|/image/${reportInfo.getStoreFileName()}|"/></span>

        <h4><span th:text="${reportInfo.content}"></span></h4>
        <br/>
        <h4>
            <a th:each=" keyword : ${keywordArr}" th:href="@{|/searchKeyword/${keyword}|}">
                <span th:if="!${keywordStat.first}" th:text="|#${keyword}|" style="color:skyBlue;"></span>
            </a>
        </h4>
        <hr/>

        <!--로그인 세션 정보가 없을 때-->
        <nav id="nav" style="float:right;" th:if="${#session} == null">
            <ul class="actions">
                <li style="float:left; color:pink;">
                    <span class="material-symbols-outlined" style="color:pink;">update</span>
                    <span th:text="${reportInfo.date}"></span>
                </li>
                <a onclick="openLoginModal()">
                    <li style="float:left; color:pink;">
                        <span th:if="${history.favorite}" class="material-symbols-outlined"
                              style="color:red; ">favorite</span>
                        <span th:unless="${history.favorite}" class="material-symbols-outlined">favorite</span>
                        <span th:text="${reportInfo.favoriteNum}"></span>
                    </li>
                    <li style="float:left; color:pink;">
                        <span class="material-symbols-outlined">bookmark</span>
                        <span th:text="${reportInfo.collectionNum}"></span>
                    </li>
                </a>
            </ul>
        </nav>


        <!--로그인 세션 정보가 있을 때-->
        <nav id="nav" style="float:right;" th:if="${#session} != null">
            <ul class="actions">
                <li style="float:left; color:pink;">
                    <span class="material-symbols-outlined">update</span>
                    <span th:text="${reportInfo.date}"></span>
                </li>
                <li style="float:left; color:pink;">
                    <a th:href="@{|/bookReportForm/${reportInfo.id}/favorite/${history.favorite}|}">
                        <span th:if="${history.favorite}" class="material-symbols-outlined"
                              style="color:red; ">favorite</span>
                        <span th:unless="${history.favorite}" class="material-symbols-outlined"
                              >favorite</span>
                        <span th:text="${reportInfo.favoriteNum}"></span>
                    </a>
                </li>
                <li style="float:left; color:pink;">
                    <a th:href="@{|/bookReportForm/${reportInfo.id}/collection/${history.collection}|}">
                        <span th:if="${history.collection}" class="material-symbols-outlined" style="color:red;">bookmark</span>
                        <span th:unless="${history.collection}" class="material-symbols-outlined" >bookmark</span>
                        <span th:text="${reportInfo.collectionNum}"></span>
                    </a>
                </li>
                <li class="icon solid fa-angle-down" style="float:left; color:pink;"
                    th:if="${reportInfo.writerId} == ${#session.getAttribute('loginMember').userId}">
                    <span class="material-symbols-outlined" >more_vert</span>
                    <ul>
                        <li>
                            <a th:href="|/editReportInfoForm/${reportInfo.id}/${book.isbn}|">수정</a>
                        </li>
                        <li>
                            <a th:href="|/deleteReportInfoForm/${reportInfo.id}|">삭제</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <br/>
    </div>

                <div class="box"
                     th:unless="${reportInfo.disclosure} or ${reportInfo.writerId} == ${#session.getAttribute('loginMember').userId}">

                    <div class="box">
                        <span class="image featured"><img src="/images/pic01.jpg" alt=""/></span>
                        <header>
                            <h2 align="center">
                                <span class="material-symbols-outlined">disabled_visible</span>
                                비공개 글입니다.
                            </h2>
                        </header>
                    </div>

                </div>

    <!--            <hr/>-->
    <ul class="actions fit">
        <li><a href="/feedListForm" class="button special fit">FEED LIST</a></li>
        <li><a href="/" class="button fit">HOME</a></li>
    </ul>
    <!--        </div>-->
    <!--    </div>-->


</section>


<!--    &lt;!&ndash; Footer &ndash;&gt;-->
<!--    <section id="footer">-->
<!--        <ul class="icons-2">-->
<!--            <li><a href="#" class="icon-2 brands-2 fa-twitter-2"><span class="label-2">Twitter</span></a></li>-->
<!--            <li><a href="#" class="icon-2 brands-2 fa-facebook-f-2"><span class="label-2">Facebook</span></a></li>-->
<!--            <li><a href="#" class="icon-2 brands-2 fa-instagram-2"><span class="label-2">Instagram</span></a></li>-->
<!--            <li><a href="#" class="icon-2 solid-2 fa-rss-2"><span class="label-2">RSS</span></a></li>-->
<!--            <li><a href="#" class="icon-2 solid-2 fa-envelope-2"><span class="label-2">Email</span></a></li>-->
<!--        </ul>-->
<!--        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>-->
<!--    </section>-->


<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

<!--<script src="assets/js/imageUpload.js"></script>-->
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>
