<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragments/headInfo :: headInfoFragment"></th:block>

<body class="is-preload">
<div id="page-wrapper">
  <link rel="stylesheet" href="/assets/css/star.css"/>
  <div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>
  <!-- Main -->
  <section id="main2" class="container">

    <section class="box">
      <p><span class="image left"><img th:src="@{${book.imageUrl}}" style="width:300px; height:400px;"
                                       alt=""/></span>
      <h4>책 제목 </h4><p th:text="${book.title}"></p>
      <h4>작가</h4> <p th:text="${book.author}"></p>
      <h4>출간 일</h4> <p th:text="${book.pubDate}"></p>
      <p>책 카테고리</p><br>

      <p>챌 별점 평균</p>
      <a th:href="@{${book.buyUrl}}">구매 링크</a> <br><br>

      <ul class="actions fit">
        <li><a href="/loginForm" class="button special fit alt">책 정보</a></li>
        <li><a href="/main" class="button fit alt">독후감</a></li>
      </ul>

      <h3>책 소개</h3>  <br>
      <div th:text="${book.description}"></div>  <br>


      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">별점을 남겨주세요</h5>
        <div class="card-body">
          <form name="comment-form" method="post" autocomplete="off">
            <div class="review_rating">
              <div class="warning_msg">별점을 선택해 주세요.</div>
              <div class="rating">
                <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 checked 적용 -->
                <input type="checkbox" name="rating" id="rating1" value="1" class="rate_radio" title="1점">
                <label for="rating1"></label>
                <input type="checkbox" name="rating" id="rating2" value="2" class="rate_radio" title="2점">
                <label for="rating2"></label>
                <input type="checkbox" name="rating" id="rating3" value="3" class="rate_radio" title="3점" >
                <label for="rating3"></label>
                <input type="checkbox" name="rating" id="rating4" value="4" class="rate_radio" title="4점">
                <label for="rating4"></label>
                <input type="checkbox" name="rating" id="rating5" value="5" class="rate_radio" title="5점">
                <label for="rating5"></label>
                <div id="starRating"></div>
                <input type="hidden" name="starRating"/>
              </div>
            </div>
            <div class="col-12">
              <textarea name="content" id="content" placeholder="댓글을 남겨주세요" rows="6" class="review_textarea"></textarea>
              <input type="hidden" name="bookisbn" th:value="${book.isbn}"/>
              <input type="hidden" name="writerName" th:value="작성자닉네임"/>
              <input type="hidden" name="writerID" th:value="작성자ID"/>
            </div>
            <br>
            <div class="col-12">
              <ul class="actions small">
                <li><input type="submit" name="save" id="save" value="등록"/></li>
                <li><input type="reset" value="취소" class="alt"/></li>
              </ul>
            </div>
          </form>
        </div>
      </div>


    </section>
  </section>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/star.js"></script>

</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>