<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment">
</th:block>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<body class="is-preload">

<script th:inline="javascript">
                var isbn = /*[[${book.isbn}]]*/ null;
</script>

<script>
    function openWindow() {
        var width = 320;
        var height = 200;
        var left = (window.innerWidth / 2) - (width / 2);
        var top = (window.innerHeight / 2) - (height / 2);
        var newWindow = window.open('/starRating/' + isbn, '_blank', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top);
    }
</script>
<script>
function openLoginModal() {
  if (confirm("로그인 후 이용해 주세요.")) {
   window.location.href = "/loginForm?redirectURL=" + encodeURIComponent(window.location.pathname);
  }
}
</script>


<script>
function showEditForm(span) {
  // 수정 폼 보이기
  var form = span.nextElementSibling;
  form.style.display = "block";

  // 수정 폼에 내용 채우기
  var content = span.previousElementSibling.textContent;
  form.querySelector("textarea").textContent = content;

  // 수정 버튼 감추기
  span.style.display = "none";
}

function openAddForm(isbn){
    window.name = "myBookmarkForm";
    var loc = "/addCollectionFormAtBookInfo/" + isbn
    window.open(loc , "childForm", "width=600, height=400, resizable=no", true);
}

</script>


<div id="page-wrapper">
    <div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>

    <style>
        #main2 .box .rating-btn {
            background-color: #ffba00;
            color: #fff;
            font-size: 20px;
            border: none;
            border-radius: 5px;
             padding: 3px 10px 5px 10px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        #main2 .box .rating-btn:hover {
            background-color: #ffcd1d;
        }
    </style>
    <!-- Main -->
    <section id="main2" class="container" >
        <section class="box" style="width: 100%; text-align: center;">
            <span style=""><img th:src="@{${book.imageUrl}}" style="width: 60%; height: auto; object-fit: contain; max-height: 60vh;" alt=""/></span>
            <span style="display: inline-block; text-align: center;">
                        <h4>책 제목 </h4>
                        <p th:if="${book.title.indexOf('-') == -1}">
                            <b th:text="${#strings.substringBefore(book.title, '(')}"></b>
                            <br/>
                            <span th:unless="${#strings.length(book.title) > 20}">
                                <b th:text="${book.title}" style="word-wrap: break-word;"></b>
                            </span>

                            <b th:if="${#strings.length(book.title) > 20}" th:text="${#strings.substring(book.title, #strings.indexOf(book.title, '(')+1, #strings.indexOf(book.title, ')'))}"
                               th:utext="${#strings.length(#strings.substring(book.title, #strings.indexOf(book.title, '(')+1, #strings.indexOf(book.title, ')')))
                                        &gt; 20 ? #strings.substring(#strings.substring(book.title, #strings.indexOf(book.title, '(')+1, #strings.indexOf(book.title, ')')), 0, 20) + '...' : ''}"></b>
                            </p>
                        <h4>작가</h4>
                        <p th:text="${book.author}"></p>
                        <h4>출간 일</h4>
                        <p th:text="${book.pubDate}"></p>
                        <h4>
                            <!--별점이 없을떄-->
                            <span th:if="${book.avgStarRating == null}" th:style="'font-size: 35px;'">
                              <span style="color: #FFD700;">★</span>
                              <span>-</span>
                            </span>

                            <!--별점이 있을떄-->
                            <span th:if="${book.avgStarRating != null}"
                                  th:style="'font-size: 35px;'">
                              <span style="color: #FFD700;">★</span>
                              <span th:text="${#numbers.formatDecimal(book.avgStarRating,1,1)}"></span>
                            </span>

                            <span th:if="${#session} != null">
                                <span th:if="${starId == false}">
                                    <input class="rating-btn" type="button" value="별점 주기" onclick="openWindow();"/>
                                </span>
                                <span th:if="${starId == true}">
                                    <input  class="rating-btn" type="button" value="참여 완료"/>
                                </span>
                            </span>
                            <span th:if="${#session} == null">
                                <input class="rating-btn" type="button" value="별점 주기" onclick="openLoginModal()"/>
                            </span>
                        </h4>
             </span>
            <br>
            <a th:href="@{${book.buyUrl}}">구매 링크</a>


            <nav id="nav"  style="float:right;" th:if="${#session} == null">
                <ul class="actions">
                    <li class="icon solid fa-angle-down" >
                        <span class="material-symbols-outlined" style="color:pink;">bookmark</span>
                        <ul >
                            <li>
                                <a style="float:right;"  th:onclick="openLoginModal()" >
                                    로그인 후 이용해주세요
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- 로그인이 되어있고 컬렉션이 없을  때  -->
            <nav id="nav"  style="float:right;"  th:if="${#session} != null and ${existsByMyHistory} == 0" >
                <ul class="actions">
                    <li class="icon solid fa-angle-down" >
                        <span class="material-symbols-outlined" style="color:pink;">bookmark</span>
                        <ul >
                            <li>
                                <a th:href="|javascript:openAddForm('${book.isbn}');|" >
                                    <span class="material-symbols-outlined" style="color:pink;">add</span>
                                    컬렉션 생성하기
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- 로그인이 되어있고 컬렉션이 존재할 때-->
            <nav id="nav"  style="float:right;"  th:if="${#session} != null and ${existsByMyHistory} != 0" >
                <ul class="actions">
                    <li class="icon solid fa-angle-down" >

                        <span class="material-symbols-outlined" style="color:pink;">bookmark</span>

                        <ul>
                            <li th:each="myCollection : ${myCollectionList}">
                                <a th:if="${#strings.length(myCollection.collectionName) < 15}" th:text="${myCollection.collectionName}" th:href="@{|/book/${book.isbn}/checkCollection/${myCollection.collectionName}|}"></a>
                                <a th:unless="${#strings.length(myCollection.collectionName) < 15}" th:text="|${#strings.substring(myCollection.collectionName, 0, 15)}..|" th:href="@{|/book/${book.isbn}/checkCollection/${myCollection.collectionName}|}"></a>
                            </li>
                            <li>
                                <a  th:href="|javascript:openAddForm('${book.isbn}');|" >
                                    <span class="material-symbols-outlined" style="color:pink;">add</span>
                                    컬렉션 생성하기
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>


            <br><br>
            <ul class="actions fit">
                <li><a th:href="@{|/book/${book.isbn}/bookInfo/true|}" class="button special fit alt">책 정보</a></li>
                <li><a th:href="@{|/book/${book.isbn}/bookInfo/false|}" class="button fit alt">독후감</a></li>
            </ul>

            <!--책 상세 페이지-->
        <div th:if="${bookAndReport}">
            <h3>책 소개</h3>  <br>
            <div th:text="${book.description}"></div>
            <br>
        </div>
        </section>
        <div th:if="${bookAndReport} == true">
            <section  class="box">
                <style>
                      section ul li span,
                      section ul li p {
                        font-size: 15px;
                      }
                      span.material-symbols-outlined {
                        float: right;
                      }
                        .no_dot {
                            list-style-type: none;
                        }
                </style>
                <span class="material-symbols-outlined" style="float: none;">chat</span>
                <span th:text="댓글" th:style="'font-size: 320x;'"></span>
                <br>

                <section>

                    <ul class='no_dot'>
                        <li th:each="comment : ${comments}" >
                            <img th:src="${comment.charIcon}" alt="image"  width="20" height="20"/>
                            <span th:text="${comment.writerID}" th:style="'font-size: 13px;'"></span> &nbsp;&nbsp;
                            <span th:text="|작성 날짜 : ${comment.date}|" th:style="'font-size: 13px;'"></span> <br>
                            <span th:text="${comment.content}" th:style="'font-size: 15px;'"></span>
                            <span th:if="${#session} != null">
                                <span th:if="${#session.getAttribute('loginMember').userId} == ${comment.writerID}">
                                    <a th:href="@{|/deleteComment/${book.isbn}/${comment.id}|}"
                                       onclick="event.preventDefault();
                                                if(confirm('정말 댓글을 삭제하시겠습니까?')) {
                                                    window.location.href = this.getAttribute('href');
                                                }">
                                        <span class="material-symbols-outlined">delete</span>
                                    </a>
                                </span>

                                  <span th:if="${#session.getAttribute('loginMember').userId} == ${comment.writerID}">
                                    <span class="material-symbols-outlined" onclick="showEditForm(this)">edit</span>

                                    <form th:action="@{|/updateComment/${book.isbn}/${comment.id}|}" method="post" style="display: none;">
                                      <br>
                                        <textarea th:name="content" th:text="${comment.content}"></textarea>
                                        <br>
                                      <input type="submit" value="수정완료"/>
                                    </form>
                                  </span>

                            </span>
                            <hr>
                        </li>
                    </ul>

                </section>



                <!-- Comments Form -->
                <div>
                    <div class="card my-4">
                        <div class="card-body">
                            <form id="comment-form" name="comment-form" th:action="@{|/book/${book.isbn}/insertComment|}" method="post" autocomplete="off">
                                <div class="col-12">
                                    <textarea name="content" id="content" placeholder="댓글을 남겨주세요" rows="6"
                                              class="review_textarea"></textarea>
                                    <input type="hidden" name="bookisbn" th:value="${book.isbn}"/>
                                    <input th:if="${#session} != null" type="hidden" id="charIcon" name="charIcon" th:value="${#session.getAttribute('loginMember').userCharIcon}"/>
                                    <input th:if="${#session} != null" type="hidden" name="writerID" th:value="${#session.getAttribute('loginMember').userId}"/>
                                </div>
                                <br>
                                <div class="col-12">
                                    <ul class="actions small" th:if="${#session} != null">
                                        <li><input type="submit" name="save" id="save" value="등록"/></li>
                                        <li><input type="reset" value="취소" class="alt"/></li>
                                    </ul>

                                    <ul class="actions small" th:if="${#session} == null">
                                        <li><input type="button"  value="등록" onclick="openLoginModal()"/></li>
                                        <li><input type="reset" value="취소" class="alt"/></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <!-- 책 독후감 페이지-->
        <section th:unless="${bookAndReport}">
            <section class="box">
                <div th:if="${existsByBookHistory} == 0">
                    <h4 align="center">
                        <span class="material-symbols-outlined">collections_bookmark</span>
                        작성한 독후감이 없습니다.
                    </h4>
                    <a th:if="${#session} != null" th:href="@{|/writeReportForm/${book.isbn}|}">
                        <span class="material-symbols-outlined" style="color:pink;">add_circle</span>
                        독후감 작성하기
                    </a>

                    <a th:if="${#session} == null" th:onclick="openLoginModal()">
                        <span class="material-symbols-outlined" style="color:pink;">add_circle</span>
                        독후감 작성하기
                    </a>
                </div>
                <div th:unless="${existsByBookHistory} == 0">
                    <h4>독후감
                        <a th:if="${#session} != null" th:href="@{|/writeReportForm/${book.isbn}|}">
                            <span class="material-symbols-outlined" style="color:pink;">add_circle</span>
                        </a>

                        <a th:if="${#session} == null" th:onclick="openLoginModal()">
                            <span class="material-symbols-outlined" style="color:pink;">add_circle</span>
                        </a>
                    </h4>

                    <hr/>

                    <!--
                    <div class="col-30 col-3-narrower" th:each="bookReportInfo : ${bookReportInfoList}">
                        <section class="box" id="my-box" style="background-color:#FFFAF0; width: 80%; margin: 20px auto; display: flex; align-items: center; justify-content: center;
                                                    padding-top: 1em; padding-bottom: 1em; padding-right: -1em; padding-left: -1em;">
                            <a th:href="@{|/bookReportForm/${bookReportInfo.id}|}">
                                <span class="image left">
                                    <br>
                                    <img th:src="|/image/${bookReportInfo.getStoreFileName()}|"
                                         style="width:80px; height:90px;"
                                         alt=""/>
                                </span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <span style="display: inline-block; text-align: center; max-width: 100%; white-space: nowrap;">
                                    <span th:utext="${bookReportInfo.date}"></span><br>
                                    <span th:if="${#strings.length(bookReportInfo.content) > 13}">
                                        <b th:utext="|${#strings.substring(bookReportInfo.content, 0, 13)}|" style="word-wrap: break-word;"></b>
                                    </span><br>
                                    <span th:if="${#strings.length(bookReportInfo.content) > 26}">
                                        <b th:utext="|${#strings.substring(bookReportInfo.content, 13, 26)}|" style="word-wrap: break-word;"></b>
                                    </span><br>
                                    <span th:if="${#strings.length(bookReportInfo.content) > 39}">
                                        <b th:utext="|${#strings.substring(bookReportInfo.content, 26, 39)} ...|" style="word-wrap: break-word;"></b>
                                    </span>
                                    <span th:unless="${#strings.length(bookReportInfo.content) > 13}" >
                                        <b th:utext="|${bookReportInfo.content}|" style="word-wrap: break-word;"></b>
                                    </span>
                                </span>



                            </a>
                        </section>
                    </div>
                    -->

                    <div class="col-12 col-12-narrower" th:each="bookReportInfo : ${bookReportInfoList}">
                        <a th:href="@{|/bookReportForm/${bookReportInfo.id}|}">

                            <div class="box " style="background-color:#FFFAF0; padding-top:1em;padding-bottom:0.6em; padding-left:0.6em;" >
                                <div class="box alt" style="background-color:skyBlue;  padding-top:1em; height:100%; " >
                                    <span class="image features left" ><img th:src="|/image/${bookReportInfo.getStoreFileName()}|" alt="" style="width:150px; padding:0;" /></span>
                                    <p>

                                        <b><span  th:text="|[${bookReportInfo.title}]|"></span></b><br/>
                                        <span  th:text="${#strings.length(bookReportInfo.content) > 80} ? |${#strings.substring(bookReportInfo.content, 0, 80)}..| : ${bookReportInfo.content}"></span><br/>
                                        <span style="float:right;">
                      <span class="material-symbols-outlined" style="color:pink;">account_circle</span>
                      <span th:text="|${bookReportInfo.writerId}|" style="color:pink;"></span>
                    </span>
                                    </p>
                                </div>

                            </div>

                        </a>


                    </div>

                </div>
            </section> <!--독후감 박스 끝-->


        </section>
    </section>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/star.js?ver"></script>


</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>