<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="fragments/headInfo :: headInfoFragment"></th:block>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>

<script>
function openLoginModal() {
  if (confirm("로그인 후 이용해 주세요.")) {
   window.location.href = "/loginForm?redirectURL=" + encodeURIComponent(window.location.pathname);
  }
}
</script>
<body class="is-preload">
<div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>


<!-- Main -->
<!--로그인 세션정보 없을때-->
<section id="main" class="container" th:if="${#session} == null">
    <header>
        <br/>
        <h2>FEED</h2>
        <p>
            <a th:onclick="openLoginModal();">
                <span class="material-symbols-outlined" style="color:pink;">add_circle</span>
                새 피드 작성하기
            </a>
        </p>
    </header>


    <div class="box" th:each="reportInfo : ${reportInfoList}">

            <span class="image featured">
                <a th:href="|/bookReportForm/${reportInfo.id}|">
                    <img th:src="|/image/${reportInfo.storeFileName}|" alt=""/>
                </a>
            </span>
        <hr/>

        <span class="material-symbols-outlined">account_circle</span>
        작성자 : <span th:text="${reportInfo.writerId}"></span>
        <span style="float:right; color:pink;">
            <span class="material-symbols-outlined" style="color:pink;">update</span>
                    <span th:text="${reportInfo.date}"></span>
            <a onclick="openLoginModal()">
                <span class="material-symbols-outlined" style="color:pink;">favorite</span>
                <span th:text="${reportInfo.favoriteNum}"></span>
                <span class="material-symbols-outlined" style="color:pink;">bookmark</span>
                <span th:text="${reportInfo.collectionNum}"></span>
            </a>
        </span>

        <!--        <h3> 도서제목 : </h3>-->
        <br/>
        <br/>
        <h4><b th:text="|도서제목: ${reportInfo.title}"|></b></h4>
        <p th:text="${reportInfo.content}"></p>
        <br/>
        <br/>
        <p>
            <span th:each=" keyword : ${keywordList}" th:if="${reportInfo.id} == ${keyword.reportId}" >
                <a th:href="@{|/searchKeyword/${keyword.keyword}|}">
                    <span th:text="|#${keyword.keyword} |" style="color:skyBlue;"></span>
                </a>
            </span>
        </p>

<!--        <p th:text="${reportInfo.hashTag}"></p>-->
    </div>
</section>

<!--로그인 세션정보 있을 때-->
<section id="main" class="container" th:if="${#session} != null">
    <header>
        <h2>FEED</h2>
        <p>
            <a th:href="@{/writeReportForm}">
                <span class="material-symbols-outlined" style="color:pink;">add_circle</span>
                새 피드 작성하기
            </a>
        </p>
    </header>


    <div class="box" th:each="reportInfo : ${reportInfoList}">

            <span class="image featured">
                <a th:href="|/bookReportForm/${reportInfo.id}|">
                    <img th:src="|/image/${reportInfo.storeFileName}|" alt=""/>
                </a>
            </span>
        <hr/>

        <span class="material-symbols-outlined">account_circle</span>
        작성자 : <span th:text="${reportInfo.writerId}"></span>

        <span style="float:right; color:pink;"  th:each="history : ${historyList}"
              th:if="${history.reportId}==${reportInfo.id}">
            <span class="material-symbols-outlined" style="color:pink;">update</span>
            <span th:text="${reportInfo.date}"></span>
            <a th:href="@{|/feedListForm/${reportInfo.id}/favorite/${history.favorite}|}">
                <span th:if="${history.favorite}" class="material-symbols-outlined"
                      style="color:red;">favorite</span>
                <span th:unless="${history.favorite}" class="material-symbols-outlined"
                      style="color:pink;">favorite</span>
                <span th:text="${reportInfo.favoriteNum}"></span>
            </a>
            <a th:href="@{|/feedListForm/${reportInfo.id}/collection/${history.collection}|}">
                <span th:if="${history.collection}" class="material-symbols-outlined"
                      style="color:red; ">bookmark</span>
                <span th:unless="${history.collection}" class="material-symbols-outlined"
                      style="color:pink;">bookmark</span>
                <span th:text="${reportInfo.collectionNum}"></span>
            </a>
        </span>



        <!--        <h3> 도서제목 : </h3>-->
        <br/>
        <br/>
        <h4><b th:text="|도서제목: ${reportInfo.title}"|></b></h4>
        <p th:text="${reportInfo.content}"></p>
        <br/>
        <br/>
        <p>
            <span th:each=" keyword : ${keywordList}" th:if="${reportInfo.id} == ${keyword.reportId}" >
                <a th:href="@{|/searchKeyword/${keyword.keyword}|}">
                    <span th:text="|#${keyword.keyword} |" style="color:skyBlue;"></span>
                </a>
            </span>
        </p>
    </div>
</section>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

<!--<script src="assets/js/imageUpload.js"></script>-->
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>
