<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/assets/css/main.css"/>
  <link rel="stylesheet" href="/assets/css/star.css"/>
</head>
<body>
<script>
    function windowClose(){

        window.close();
};
</script>


<h3 th:text="${#strings.concat(member.userEmail, ', 이메일로 가입된 아이디는 ', member.userId, '입니다.')}"></h3>
<ul class="actions">
  <li><a th:href="|javascript:windowClose();|" class="button special">확인</a></li>
</ul>

</body>
</html>