<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment"></th:block>

<script>
    function close1(isbn){
        opener.location.replace("/writeReportForm/" + isbn);
        window.close();
};
</script>
<body class="is-preload">
<!-- Main -->
<section id="main" class="container">
    <header>
        <h2>도서검색</h2>
    </header>

    <!-- Table -->
    <section class="box" >
        <form th:action method="get" th:Object="${book}">
            <div class="row gtr-uniform gtr-50">
                <div class="col-9 col-12-mobilep">
                    <input type="text" id="title" name="title" placeholder="도서 검색"/>
                </div>
                <div class="col-3 col-12-mobilep">
                    <input type="submit" class="button special icon solid fa-search fit" value="search" />
                </div>
            </div>
        <hr/>

        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>출판사</th>
                    <th>책제목</th>
                    <th>저자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="books : ${bookList}">
                    <td><span th:text="${books.publisher}"></span></td>
                    <td>
                        <a th:href="|javascript:close1('${books.isbn}');|" th:text="${books.title}"></a>
                    </td>
                    <td><span th:text="${books.author}"></span></td>
                </tr>

                <tfoot>
                </tfoot>
            </table>
        </div>
        </form>
    </section>
</section>

</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>
