<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment"></th:block>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
body p {
display:block;
}
</style>

<body class="is-preload">
<div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>

<!-- Main -->
<section id="main" class="container">
  <header>
    <br/>
    <h2 th:text="|#${keyword}|"></h2>
  </header>

  <!-- Table -->
  <section class="box" >
    <form th:action="@{/searchKeyword}" method="get" >
      <div class="row gtr-uniform gtr-50">
        <div class="col-9 col-12-mobilep">
          <input type="text" id="keyword" name="keyword" placeholder="태그 검색" autocomplete="on"/>
        </div>
        <div class="col-3 col-12-mobilep">
          <input type="submit" class="button special icon solid fa-search fit" value="search" />
        </div>
      </div>
    </form>
  </section>

  <section class="box">
    <div>
      <h4>
        <span th:text="|'#${keyword}'|" style="color:blue;"></span> 이/가 태그된 도서
        <span th:text="|[${bookList.size}개 검색]|" style="color:gray; float:right;"></span>
      </h4>
      <hr/>

      <div class="row">
        <div class="col-6 col-12-narrower" th:each="book : ${bookList}">
          <a th:href="@{|/book/${book.isbn}|}">
            <section class="box special" style="border:solid 3px #FFFAF0; padding-top: 0.5em; padding-bottom: 3em;padding-right: 0.5em;padding-left: 1em;" >
              <span class="image left"><img th:src="@{${book.imageUrl}}" alt="" style="width:85px; height:125px;"/></span>

              <p th:if="${book.title.indexOf('-') == -1}">
                <br/>
                <b th:text="|[${book.title}]|"></b><br/>
                <span th:text="${#strings.substringBefore(book.author,'(')}" style="color:gray;"></span><br/>
                <!--                                별점이 없을떄-->
                <span th:if="${book.avgStarRating == null}" style="color: lightGray;">
                                            <span >★</span>
                                            <span>0.0</span>
                                          </span>

                <!--별점이 있을떄-->
                <span th:if="${book.avgStarRating != null}" >
                                            <span style="color: #FFD700;">★</span>
                                            <span th:text="${#numbers.formatDecimal(book.avgStarRating,1,1)}"></span>
                                          </span>
              </p>

              <p th:if="${book.title.indexOf('-') != -1}">
                <br>
                <b th:text="|[${#strings.substringBefore(book.title,'-')}]|"></b><br/>
                <span th:text="${#strings.substringBefore(book.author,'(')}"
                      style="color:gray;"></span><br/>
                <!--                                    별점이 없을떄-->
                <span th:if="${book.avgStarRating == null}" style="color: lightGray;">
                                        <span>★</span>
                                        <span>0.0</span>
                                      </span>

                <!--별점이 있을떄-->
                <span th:if="${book.avgStarRating != null}" >
                    <span style="color: #FFD700;">★</span>
                    <span th:text="${#numbers.formatDecimal(book.avgStarRating,1,1)}"></span>
                  </span>
              </p>
            </section>
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class="box">
    <div>
      <h4>
        <span th:text="|'#${keyword}'|" style="color:blue;"></span> 이/가 태그된 독후기록
        <span th:text="|[${reportInfoList.size}개 검색]|" style="color:gray; float:right;"></span>
      </h4>
      <hr/>
      <div class="row">
        <div class="col-12 col-12-narrower" th:each="reportInfo : ${reportInfoList}">
          <a th:href="@{|/bookReportForm/${reportInfo.id}|}">

              <div class="box " style="background-color:#FFFAF0; padding-top:1em;padding-bottom:0.6em; padding-left:0.6em;" >
                <div class="box alt" style="background-color:skyBlue;  padding-top:1em; height:100%; " >
                  <span class="image features left" ><img th:src="|/image/${reportInfo.getStoreFileName()}|" alt="" style="width:150px; padding:0;" /></span>
                  <p>

                    <b><span  th:text="|[${reportInfo.title}]|"></span></b><br/>
                    <span  th:text="${#strings.length(reportInfo.content) > 80} ? |${#strings.substring(reportInfo.content, 0, 80)}..| : ${reportInfo.content}"></span><br/>
                    <span style="float:right;">
                      <span class="material-symbols-outlined" style="color:pink;">account_circle</span>
                      <span th:text="|${reportInfo.writerId}|" style="color:pink;"></span>
                    </span>
                  </p>
                </div>
              </div>
          </a>
        </div>
      </div>
    </div>
  </section>

</section>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>