<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>독서노트</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/assets/css/main2.css"/>
    <link rel="stylesheet" href="/assets/css/star.css"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
</head>
<body class="is-preload">
<div class="card my-4">
    <h3>별점을 남겨주세요</h3>
    <div class="card-body">
        <form id="comment-form" name="comment-form" method="post" autocomplete="off">
            <div class="review_rating">
                <div class="warning_msg">별점을 선택해 주세요.</div>
                <div class="rating">
                    <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 checked 적용 -->
                    <input type="checkbox" name="star" id="rating1" value=1 class="rate_radio"
                           title="1점">
                    <label for="rating1"></label>
                    <input type="checkbox" name="star" id="rating2" value=2 class="rate_radio"
                           title="2점">
                    <label for="rating2"></label>
                    <input type="checkbox" name="star" id="rating3" value=3 class="rate_radio"
                           title="3점">
                    <label for="rating3"></label>
                    <input type="checkbox" name="star" id="rating4" value=4 class="rate_radio"
                           title="4점">
                    <label for="rating4"></label>
                    <input type="checkbox" name="star" id="rating5" value=5 class="rate_radio"
                           title="5점">
                    <label for="rating5"></label>
                </div>
            </div>
            <div class="col-12">
                <input type="hidden" name="isbn" th:value="${book.isbn}"/>
                <!--바꾼부분******************************************-->
                <input type="hidden" name="userId" th:value="${#session.getAttribute('loginMember').userId}"/>
                <!--바꾼부분******************************************-->
                <input type="hidden" name="starRating"/>
            </div>
            <br>
            <div class="col-6">
                <ul class="actions small">
                    <li><input type="submit" name="save" id="save" value="등록" style="font-size: 14px; padding: 5px 10px;"/></li>
                </ul>
            </div>
        </form>
        <script>
            const checkboxes = document.querySelectorAll('input[name="star"]');
            const submitButton = document.querySelector('#save');

            let checkedCount = 0;
            checkboxes.forEach((checkbox) => {
                if (checkbox.checked) {
                    checkedCount++;
                }
            });

            document.querySelector('input[name="starRating"]').value = parseInt(checkedCount);
            submitButton.addEventListener('click', (event) => {
                event.preventDefault();
                let checkedCount = 0;
                checkboxes.forEach((checkbox) => {
                    if (checkbox.checked) {
                        checkedCount++;
                    }
                });

                document.querySelector('input[name="starRating"]').value = checkedCount;
                document.querySelector('#comment-form').submit();
                window.opener.location.reload(); // 부모 창 새로고침
            });
        </script>
    </div>
</div>

<script src="/assets/js/star.js?ver"></script>

</body>
</html>