<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/headInfo :: headInfoFragment"></th:block>

<body class="is-preload">
<div th:replace="~{fragments/headerMain :: headerMainFragment('')}"></div>
<link rel="stylesheet" href="assets/css/errors.css"/>

<script>


    function loadFile(input){
        var file = input.files[0];
        var name = document.getElementById("fileName");

        var newImage = document.createElement("img");
        newImage.setAttribute("class", "img");

        newImage.src = URL.createObjectURL(file);

        newImage.style.width = "100%";
        newImage.style.height = "100%";
        newImage.style.objectFit = "contain";

        var container = document.getElementById('image');
        container.appendChild(newImage);
    };

</script>
<!-- Main -->
<section id="main" class="container">
    <header>
        <h2>독후기록</h2>
        <p>책에 대한 기록을 남겨보세요</p>
    </header>

    <div class="row">
        <div class="col-12">

            <!-- Form -->
            <section class="box">

                <form method="get">
                    <p></p>
                    <div class="row gtr-uniform gtr-50">

                        <div class="col-9 col-12-mobilep">
                            <input type="text" name="title" id="title" th:value="${book.title}" placeholder="도서 검색"
                                   readonly/>
                        </div>
                        <div class="col-3 col-12-mobilep">
                            <!--									<a class="button special icon solid fa-search fit"></a>-->
                            <input type="button" value="Search" class="button special icon solid fa-search fit"
                                   onclick="window.open('/searchBookInReportForm', '_blank', 'width=600, height=600', true);"/>
                        </div>

                        <!--						<ul class="actions">-->
                        <!--							<li class="col-9 col-12-mobilep"></li>-->
                        <!--							<li class="col-3 col-12-mobilep"><a href="#" class="button special icon solid fa-search fit">Search</a></li>-->
                        <!--						</ul>-->
                    </div>
                </form>

                <hr/>

                <h3>도서제목 : <span th:text="${book.title}"></span></h3>
                <form method="post" enctype="multipart/form-data" th:action >
<!--                    <form method="get" >-->
                    <div class="container">
                        <div class="image-upload" id="image-upload">

                            <div class="button alt">
                                <label for="attachFile">
                                    +
                                    <!--                                    <img src="images/pic04.jpg" alt="">-->
                                </label>
                            </div>
                            <input type="file" id="attachFile" name="attachFile" accept="image/*"
                                   style="visibility:hidden;" onchange="loadFile(this)">
<!--                            th:field="${reportInfo.imageFile}" multiple="multiple"-->

                            <div class="fileContainer">
                                <div class="fileInput">
                                    <p>FILE NAME : </p>
                                    <p id="fileName" text></p>
                                </div>
                                <!--                            <div class="buttonContainer">-->
                                <!--                                <div id="submitButton">SUBMIT</div>-->
                                <!--                            </div>-->
                            </div>
                        </div>
                        <span class="image" id="image"></span>
                    </div>
<!--                    </form>-->

                    <!--                <span class="image fit">-->
                    <!--                    <input type="file" name="attachFile"/>-->
                    <!--                    <img src="images/pic04.jpg" alt="">-->
                    <!--                </span>-->
                    <!--                <form method="post" action="#">-->
                    <!--                    <span class="image fit">-->
                    <!--                        <div id="submitButton" class="submitButton">submit</div>-->
                    <!--                            <label for="attachFile">-->
                    <!--                                <img id="image-show" src="images/pic04.jpg" alt="" />-->
                    <!--                            </label>-->
                    <!--                        <input type="file" id="attachFile" name="attachFile"-->
                    <!--                               accept="image/*" style="visibility:hidden;" onchange="loadFile(this)"/>-->
                    <!--                    </span>-->
                    <div class="row gtr-uniform gtr-50">


                        <div class="col-12">
                            <textarea name="content" id="content" th:field="${reportInfo.content}" placeholder="기록을 남겨보세요." rows="12"></textarea>
                        </div>
                        <div class="col-12">
                            <input type="text" name="hashTag" id="hashTag" value="" th:field="${reportInfo.hashTag}"
                                   placeholder="태그를 입력해주세요.   ex) #독서노트 #오늘의기록 #소설 #000작가님"/>
                        </div>
                        <div class="col-4 col-12-narrower">
                            <input type="radio" id="disclosure-true" name="disclosure" th:field="${reportInfo.disclosure}" th:value="true" checked>
                            <label for="disclosure-true">공개</label>
                        </div>
                        <div class="col-4 col-12-narrower">
                            <input type="radio" id="disclosure-false" th:field="${reportInfo.disclosure}" th:value="false" name="disclosure">
                            <label for="disclosure-false">비공개</label>
                        </div>
<!--                        <div>-->
<!--                            작성자 : <input type="text" name="userId"/>-->
<!--                        </div>-->
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="올리기"/></li>
                                <li><input type="reset" value="작성취소" class="alt"/></li>
                            </ul>
                        </div>
                    </div>
                </form>


            </section>

        </div>
    </div>

</section>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

<!--<script src="assets/js/imageUpload.js"></script>-->
</body>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>
