<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.bookservice.domain.repository.MemberMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member(user_id, user_pwd, user_name, user_gender, user_birth, user_email, user_phone)
        values (#{userId}, #{userPwd}, #{userName}, #{userGender}, #{userBirth}, #{userEmail}, #{userPhone})
    </insert>

    <!--
    <update id="update">
        update item
        set item_name=#{updateParam.itemName},
        price=#{updateParam.price},
        quantity=#{updateParam.quantity}
        where id = #{id}
    </update>
    -->

    <!--
    <select id="findById" resultType="Member">
        select id, item_name, price, quantity
        from member
        where id = #{id}
    </select>

    <select id="findAll" resultType="Member">
        select id, item_name, price, quantity
        from item
        <where>
            <if test="itemName != null and itemName != ''">
                and item_name like concat('%', #{itemName}, '%')
            </if>
            <if test="maxPrice != null">
                and price $lt;= #{maxPrice}
            </if>
        </where>
    </select>
    -->
</mapper>